.card__image {
  height: 282px;
  object-fit: cover;
  width: 100%;
}

.card__image:hover {
  cursor: pointer;
}

/* Скрываем картинку при ошибке */
.card__image-error img {
  visibility: hidden !important;
  opacity: 0;
}

/* Контейнер показывает замену фона */
.card__image-error {
  background: transparent url('../../../images/trash.svg') center no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid red;
}